button {
    width: 10rem;
    cursor: pointer;

}
.btn {
    font-weight: 400;
    color: #f1f4f7;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn-success:hover {
    background-color: #3e8e41;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary:hover {
    background-color: #011e3d;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #B22222;
}
.btn-gray {
    background-color: gray;
    color:white;
}

.btn-gray:hover {
    background-color: rgb(199, 196, 196);
    color:black;
    
}

.btn-warning:hover {
    background-color: #d19d00;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-sm{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: auto;
    
}